// @import '../node_modules/typeface-muli/index.css';

@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src:
      local('Muli Regular '),
      local('Muli-Regular'),
      url('../node_modules/typeface-muli/files/muli-latin-400.woff2') format('woff2'), /* Super Modern Browsers */
      url('../node_modules/typeface-muli/files/muli-latin-400.woff') format('woff'); /* Modern Browsers */
  }

* {
    padding: 0;
    margin: 0;
  }
  html,
  body {
    background-color: #f8f8f8;
    font-family: 'Muli', sans-serif;
  }
  
  .wrap {
    margin: 0 1em;
  }
  
  .header {
    padding: 1em;
    background: linear-gradient(
      180deg,
      rgba(51, 81, 255, 1) 0%,
      rgba(51, 81, 255, 1) 55%,
      rgba(248, 248, 248, 1) 55%,
      rgba(248, 248, 248, 1) 100%
    );
    color: #fff;
  
    & > .top {
      display: flex;
      flex-direction: row;
      margin: 0 0 1em 0;
  
      & .left {
      }
  
      & .center {
        flex-grow: 1;
        text-align: center;
        font-size: 1.2em;
      }
  
      & .right {
      }
    }
  
    & .headerBox {
      background-color: #fff;
      color: #000;
      padding: 1em;
      border-top-left-radius: 1em;
      border-top-right-radius: 1em;
  
      & > .top {
        padding: 0 0 1em 0;
        color: rgb(31, 30, 36);
        display: flex;
        flex-direction: column;
      }
      & .body canvas {
        height: 200px !important;
      }
    }
  }
  
  .row {
    display: flex;
    flex-direction: row;
    & .w-50 {
      width: 50%;
      display: flex;
      @media screen and (max-width: 360px) {
        width: 100%;
      }
    }
    & .w-100 {
      width: 100%;
      display: flex;
    }
    @media screen and (max-width: 360px) {
      flex-wrap: wrap;
    }
  }
  
  .box {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 1em;
    border-radius: 1em;
    &:first-child {
      margin: 0.5em 0.5em 0.5em 0;
      @media screen and (max-width: 360px) {
          margin: 0.5em 0 0.5em 0;
        }
    }
    &:last-child {
      margin: 0.5em 0 0.5em 0.5em;
      @media screen and (max-width: 360px) {
          margin: 0.5em 0 0.5em 0;
        }
    }
  }
  
  .small {
    color: #313131;
    font-size: 0.9em;
  }
  
  .align-items-center {
    align-items: center !important;
  }
  
  .transactions {
    display: flex;
    flex-direction: column;
  }
  
  .transaction {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin: 0.25em 0;
    padding: 1em;
    border-radius: 1em;
    & .content {
      display: flex;
      flex-grow: 1;
      align-items: center;
    }
    & .info {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      & .date {
          font-size: 0.8em;
      }
    }
  }
  