@import "~bootstrap";

$mainColor: #3351ff;

html body.auth-page,
body.auth-page {
  height: 100%;
}

body.auth-page {
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.auth-page {
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    @media (min-width: 768px) {
      font-size: 3.5rem;
    }
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

body.main-app {
  background-color: #f6f7fc;
  .app-content {
    margin-top: 1em;
  }

  .navbar {
    background-color: $mainColor;
    color: #ffffff;
  }

  .box {
    border-radius: 0.5em;
    color: #fff;
    padding: 0.5em 1em;
    box-shadow: 0 0 4px 1px #707488;

    &.budgetinfo-box {
      margin-bottom: 1em;
      &.expense-box {
        background: rgb(237, 96, 149);
        background: linear-gradient(
          62deg,
          rgba(237, 96, 149, 1) 55%,
          rgba(247, 158, 176, 1) 100%
        );
      }
      &.income-box {
        background: rgb(48, 202, 148);
        background: linear-gradient(
          62deg,
          rgba(48, 202, 148, 1) 20%,
          rgba(110, 234, 146, 1) 100%
        );
      }
      .box-header,
      .box-footer {
        font-weight: 200;
      }
      .box-body {
        font-size: 1.5em;
        font-weight: 600;
      }
    }

    &.budgetList-box {
      margin: 0.5em 0;
      box-shadow: none;
      background-color: #fff;
      color: #000;

      .box-header {
        color: #696767;
        font-weight: 600;

        &.two-col {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      .box-body {
        margin: 1em 0;
      }

      .box-body .item {
        display: flex;
        justify-content: space-between;
        margin: 0.5em 0;

        &:last-child {
          margin-bottom: 0;
        }

        .metadata {
          display: flex;
          flex-grow: 1;
          flex-direction: row;

          .category-icon {
            align-self: center;
            background-color: aqua;
            border-radius: 50%;
            width: 3em;
            height: 3em;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 0.5em;
            color: #fff;
          }

          .multiLine {
            flex-grow: 1;

            .category-name {
              font-weight: 600;
            }

            .description {
              font-weight: 200;
              color: #696767;
              font-size: 0.9em;
            }
          }
        }
        .price {
          font-weight: 600;
        }
      }
    }

    &.profile-box,
    &.profile-avatar-box,
    &.profile-passwordChange-box {
      box-shadow: none;
      background-color: #fff;
      margin-bottom: 1em;
      .box-header {
        color: #696767;
        font-weight: 600;
        padding-bottom: 1em;
      }

      .box-body {
        color: #000;

        .profile-info {
          display: flex;
          flex-direction: row;
          justify-content: space-between;

          margin: 0.5em 0;

          .key {
            color: #696767;
            font-weight: 600;
          }
          .value {
            font-weight: 300;
          }
        }
      }
    }
  }
}
