<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Budget App</title>
    <link rel="stylesheet" href="style.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/hu.js"></script> -->
</head>

<body>
    <main id="app">
        <div class="navbar">
            <div class="left">

            </div>
            <div class="center">
                Budget App
            </div>
            <div class="right">

            </div>
        </div>

        <div class="header">
            <div class="income">
                Income: <span class="text-right">$ {{income}}</span>
            </div>
            <div class="expenses">
                Expenses: <span class="text-right">$ {{expense}}</span>
            </div>

            <div class="total">
                <span class="text-right">$ {{income - expense}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="dailyItem" v-for="dailyItem in dailyBudge">
            <div class="dailyHead">
                <div class="dateRow">
                    <span class="dayNumber">{{dailyItem.date.get('date')}}</span>
                    <span class="date">{{dailyItem.date.format('dddd')}}<br>{{dailyItem.date.format('MMMM YYYY')}}</span>
                </div>
                <div class="moneyRow">{{getDailyTotal(dailyItem.item, true)}}</div>
                <div class="clearfix"></div>
            </div>

            <div class="dailyBody">
                <div class="item" v-for="item in dailyItem.item">
                    <i>{{item.icon}}</i>
                    {{item.name}}
                    <span class="text-right"><span v-if="item.type == 'exp'">-</span><span v-else>+</span> $ {{item.total}}</span>
                </div>
            </div>
        </div>

    </main>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed --
        <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script defer src="app.js"></script>
</body>

</html>