<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Budget App</title>
    <link rel="stylesheet" href="style.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/locale/hu.js"></script> -->

    <link href="https://unpkg.com/ionicons@4.4.1/dist/css/ionicons.min.css" rel="stylesheet">
</head>

<body>
    <main id="app">
        <div class="navbar">
            <div class="left">

            </div>
            <div class="center">
                Budget App
            </div>
            <div class="right">

            </div>
        </div>

        <div class="header">
            <div class="income">
                Income: <span class="text-right">+ $ {{income}}</span>
            </div>
            <div class="expenses">
                Expenses: <span class="text-right">- $ {{expense}}</span>
            </div>

            <div class="total">
                <span class="text-right">{{getHeaderTotal(true)}}</span>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="dailyItem" v-for="dailyItem in dailyBudge">
            <div class="dailyHead">
                <div class="dateRow">
                    <span class="dayNumber">{{dailyItem.date.get('date')}}</span>
                    <span class="date">{{dailyItem.date.format('dddd')}}<br>{{dailyItem.date.format('MMMM YYYY')}}</span>
                </div>
                <div class="moneyRow">{{getDailyTotal(dailyItem.item, true)}}</div>
                <div class="clearfix"></div>
            </div>

            <div class="dailyBody">
                <div class="item" v-for="item in dailyItem.item">
                    <i>{{item.icon}}</i>
                    {{item.name}}
                    <span class="text-right"><span v-if="item.type == 'exp'">-</span><span v-else>+</span> $ {{item.total}}</span>
                </div>
            </div>
        </div>

        <div class="addBtn" id="addItemBtn">
            <i class="icon ion-ios-add"></i>
        </div>

        <div id="addItem" class="modal">
            <form @submit.prevent="addNewItem">
                <!-- Modal content -->
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="close">&times;</span>
                        <h2>Add New Item</h2>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <b>Select Date:</b><br>
                            <input type="radio" name="dateType" v-model="newItemData.dateType" value="today"> Today <b>OR</b> <input
                                type="radio" value="manual" name="dateType" v-model="newItemData.dateType"> Manual Select<br>
                            <input v-if="newItemData.dateType === 'manual'" class="input-control" v-model="newItemData.manualDate" type="date">
                        </div>

                        <div class="form-group">
                            <b>Select Icon</b><br>

                            <div v-if="newItemData.selectedIcon !== null">
                                <i :class="getIconClass(newItemData.selectedIcon)"></i>
                            </div>
                            <select id="iconSelect" class="select2" v-model="newItemData.selectedIcon">
                                <option :value="icon" :data-icon="icon" v-for="icon in ionicons">
                                    {{icon}}
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <b>Name</b>
                            <input class="input-control" v-model="newItemData.itemName" type="text" placeholder="Eg: Rent">
                        </div>

                        <div class="form-group">
                            <b>Type</b>
                            <select class="input-control" v-model="newItemData.type">
                                <option>Income</option>
                                <option>Expense</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <b>Amount</b>
                            <input class="input-control" type="number" v-model="newItemData.amount" placeholder="Eg: 1200">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-add" type="submit">Add</button>
                        <button class="btn btn-cancel" type="reset">Cancel</button>
                    </div>
                </div>
            </form>
        </div>

    </main>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- production version, optimized for size and speed --
        <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script defer src="app.js"></script>
</body>

</html>