* {
    padding: 0;
    margin: 0;
}

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('fonts/Lato-Regular.ttf') format('ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url('fonts/Lato-Regular.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  /* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('fonts/Lato-Bold.ttf') format('ttf');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
  @font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url('fonts/Lato-Bold.ttf') format('ttf');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

html {
    background:linear-gradient(135deg, #5b247a 0%,#1bcedf 100%) no-repeat no-repeat;
    background-attachment: fixed;
    height: 100%;
}

body {
    /* background:linear-gradient(135deg, #C56CD6 0%,#3425AF 100%); */
    /* background:linear-gradient(135deg, #5b247a 0%,#1bcedf 100%); */
    font-family: 'Lato', sans-serif;
}

.navbar {
 display: flex;
 flex-direction: row;
 padding: 10px;
 color: #fff;
}

.navbar .left {
    justify-content: flex-start;
}

.navbar .center {
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    font-weight: 600;
}

.navbar .right{
    justify-content: flex-end;
}

@media (max-width: 380px){
    .header, .dailyItem {
        width: 95% !important;
    }
}

@media (min-width: 730px){
    .header, .dailyItem {
        width: 60% !important;
    }
}

.header {
    font-size: 18px;
    margin: 40px auto 0 auto;
    color: #fff;
    width: 80%;
}

.text-right {
    float: right;
}

.header .total{
    margin-top: 10px;
    padding-top: 5px;
    border-top: 1px solid #fff;
    font-size: 28px;
}

.clearfix {
    clear: both;
}

.dailyItem {
    margin: 30px auto;
    width: 80%;
    color: #000;
}

.dailyItem:last-child {
    margin-bottom: 30px;
}

.dailyItem .dailyHead{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(235, 233, 233);
    padding: 5px 15px;
}

.dailyItem .dateRow .dayNumber{
    font-size: 48px;
    color: #1bcedf;
    font-weight: 600;
    float: left;
}

.dailyItem .dateRow .date{
    line-height: 60px;
}

.dailyItem .dateRow .date {
    padding-top: 10px;
    padding-left: 10px;
    float: left;
    line-height: 16px;
}

.dailyItem .moneyRow {
    padding-top: 8px;
    float: right;
    font-size: 40px;
    color: #000;
}

.dailyItem .dailyBody{
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 5px 15px;
}

.dailyItem .dailyBody .item i {
    font-size: 20px;
    color: #5b247a;
    width: 30px;
    display: inline-block;
}


.form-group {
    padding: 10px 0 0 0;
}

.input-control {
    width: 100%;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 4px;
    height: 28px;
}

.addBtn{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5a247ac7;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    text-align: center;
    cursor: pointer;
}

.addBtn i{
    line-height: 60px;
    font-size: 40px;
    color: #fff;
}

.addBtn:hover{
    background-color: #8936b9;
}

#addItem .icon {
    display: inline-block;
}

#addItem .icon i {
    font-size: 32px;
}

.select2-results .icon {
    float: right;
    position: relative;
    line-height: 20px;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #5b247a;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #fff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 10px 16px;
    background-color: #5b247a;
    color: white;
}

/* Modal Body */
.modal-body {padding: 10px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 10px 16px;
    background-color: #5b247a;
    color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    padding: 0;
    border: 1px solid #5b247a;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}